* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  display: flex;
  flex-direction: column;

  header {
    h1.application {
      text-align: center;
      justify-content: center;
      background-color: bisque;
      color: rgb(236, 85, 178);
      font-size: 2rem;
      padding: 0.5rem 1rem;
      margin: 0.25rem 1rem;
    }
  }
  main {
    section.word {
      padding: 0rem 1rem;
      h3 {
        background-color: antiquewhite;
        text-align: center;
        font-size: 1.25rem;
        font-weight: bold;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.1rem;
      }
      ol {
        padding: 0rem 1.2rem;
      }
    }
  }
}
